/*
 * Thinklog style sheet
 */

/* body */

body {
	background:  #557;
	color:       #000;
	font-size:   85%;
	font-family: sans-serif;
}

/*
 * headers
 */

h1,h2,h3 {
	color: #222;
}

h1 {
	font-style: italic;
	font-size:   200%;
	font-weight: normal;
}

h2 {
	font-size:   150%;
	font-weight: normal;
}

h3 {
	font-size:   135%;
	font-weight: normal;
}


/*
 * Separator, should you need one.
 */

hr {
	border-top:    1px solid #bbf;
	border-bottom: 0;
	border-left:   0;
	border-right:  0;
}


/*
 * Links
 */

a:link, a:visited {
	font-size:       1.1em;
	color:           #336;
	text-decoration: none;
}

a:hover, a:active {
	font-size:       1.1em;
	color:           #00a;
	text-decoration: underline;
}

a img {
	border-style: none;
}


/* It can be really ugly... */

li {
	padding-bottom: 3px;
}

/*
 * Content
 */
div#main {
	max-width: 700px;
	width: 60%;
	float: left;
}

div#side_bar {
	max-width: 350px;
	width: 38%;
	float: left;
}

div.section, div.section td {
	background: #fff;
	color:      #000;
}

div.section {
	padding: 1em;
	margin: 0.5em;
	border-radius: 3px;
	-moz-border-radius: 3px;
}


/*
 * Messages
 */

.thot_error {
	color: #c11;
}

.thot_success {
	color: #1a1;
}

div.notice {
	padding: 3px 10px 3px 10px;
	margin: 5px;
	border: 1px solid #88a;
	color: #335;
	background: #eef;
	width: 90%;
}

/*
 * copyright
 */

#copyright {
	font-size: 80%;
}

/* Bubbles */

div.bubble {
	padding: 10px;
	margin: 5px;
	color: #000;
	background: #f4f4d8;
	border: 1px solid #bbb;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

/* Tag clouds */

div.tag_cloud {
	margin: 5px;
	width: 90%;
}

/* Thought page */

div.thought_body {
	font-size: 1.3em;
	padding: 15px;
}

/* Query results */

div.result {
	width:90%;
}

div.result a:link, div.result a:visited, div.result a:hover, div.result a:active {
	font-size: 1.2em;
}

/* About section */

div#about {
	max-width:640px;
	font-size: 1.2em;
	line-height: 1.7em;
	color: #444;
}

/* Menu links */

div#links {
	line-height: 1.7em;
	font-size: 1.1em;
}

div#links a:link, div#links a:visited {
	color: #117;
}
